@use "_variable.scss" as var;
@use "_breakpoints.scss" as bp;

.news {
}

.news__inner {
  @include bp.mq(md) {
    max-width: calc(1040px + 40px * 2);
    padding-inline: 40px;
  }
}

.news__content {
}

.news__cards {
  display: flex;
  flex-direction: column;
  gap: calc(28px - 0.5px);
  align-items: center;
  @include bp.mq(md) {
    gap: 24px;
  }
}

.news__card {
  padding-bottom:calc(28px - 0.5px) ;
  border-bottom: 1px solid #e0e0e0;

  @include bp.mq(md) {
    padding-bottom: 24px;
  }
}

.news-card {
  @include bp.mq(md) {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
}

.news-card__image {
  @include bp.mq(md) {
    width: 260px;
    flex-shrink: 0;
  }

  img {
  }
}

.news-card__body {
  margin-top: 16px;

  @include bp.mq(md) {
    margin-top: 0;
    flex-grow: 1;
  }
}

.news-card__date {
  display: block;
  font-size: 14px;
  font-weight: var.$font-weight-light;
}

.news-card__title {
  margin-top: 10px;
  font-weight: var.$font-weight-bold;

  @include bp.mq(md) {
    margin-top: 16px;
    font-size: 18px;
  }
}

.news-card__text {
  margin-top: 14px;
  color: #888;
  font-size: 14px;
  font-weight: var.$font-weight-light;
  @include bp.mq(md) {
    margin-top: 10px;
  }
}

.news__button {
  margin-top: 41px;
  text-align: center;

  @include bp.mq(md) {
    margin-top: 41px;
  }
}
